body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffd180;
}

main {
  padding: 50px;
  flex: 1 0 auto;
}
